.search {
  display: flex;
  justify-content: center;
  margin-left: 50px;
  margin-bottom: 20px;
}

.btnsearch {
  border-radius: 30px;
  background-color: #83615a;
  box-shadow: inset 50px 50px 100px #291b10, inset -50px -50px 100px #6d472a;
  border-style: none;
  font-size: 15px;

  padding: 10px;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}
